[Desktop Entry]
Type=Application
Version=1.0
Name=BIBEST EPICS IOC
Icon=/opt/CAENels/BIBEST/best_epics_ioc/best_epics_ioc.png
Exec=/opt/CAENels/BIBEST/best_epics_ioc/iocBoot/iocbest/best_ioc.sh
Terminal=true
