Source: bestepicsioc
Section: unknown
Priority: optional
Maintainer: Paolo Scarbolo <p.scarbolo@caenels.com>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, libbest (>=1.8.14), libfftw3-dev
Standards-Version: 3.9.4
Homepage: http://www.caenels.com


Package: bestepicsioc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: BEST EPICS Input/Output Controller
 EPICS IOC to control and to monitor BEST system
