#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_configure:
	
override_dh_auto_build:
	make build

override_dh_shlibdeps:
	

override_dh_auto_install:
	make install INSTALL_LOCATION=/opt/CAENels/BIBEST/best_epics_ioc
	mkdir -p /opt/CAENels/BIBEST/best_epics_ioc/lib
	#cp sh_libs/* /opt/CAENels/BIBEST/best_epics_ioc/lib
	mkdir -p /opt/CAENels/BIBEST/best_epics_ioc/iocBoot/iocbest
	cp iocBoot/iocbest/* /opt/CAENels/BIBEST/best_epics_ioc/iocBoot/iocbest
	cp best_epics_ioc.png /opt/CAENels/BIBEST/best_epics_ioc
	cp best_epics_ioc.desktop /opt/CAENels/BIBEST/best_epics_ioc
